@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.app-header {
  text-align: center;
}

.app-body {
  margin: 0rem 2rem 0rem 2rem;
}

.App {
  min-height: 100vh;
  padding: 2rem;
}

.light-mode {
  background-color: white;
  color: #282c34;
  transition: 0.3s;
}

.dark-mode {
  background-color: #282c34;
  color: white;
  transition: 0.3s;
}
